/* ion-label {
  font-size: 16px;
  color: white;
  margin-bottom: 4px;
  font-weight: bold;
   margin-left: 10px;
  ;
}
.etoi{
  color: red;
}
ion-title{
  text-align: center;
}

ion-card{
  background-color:rgb(105, 201, 241) ;
}
.addbtn{
  border-radius: 70x;
  color : hsl(0, 0%, 100%);
  margin-left:190px;
  background-color:#51bbcb ;
}
.allcontent{
  background: linear-gradient(to bottom, #569ccb, #adbdb4);
  height: 100%;
}

.sel{
 margin-left: 50px;
}
*/

ion-content {
  background: linear-gradient(135deg, #ff3366, #33ccff); /* Couleurs de dégradation */
  height: 100%; /* Ajustez la hauteur selon vos besoins */
}

/* Style du bouton "Add Annonce" */
.addbtn {
  background: #33ccff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
}

/* Style du bouton "Add Annonce" lorsqu'il est désactivé */
.addbtn[disabled] {
  background: #ccc; /* Couleur de fond du bouton désactivé */
  color: #999; /* Couleur du texte du bouton désactivé */
}

/* Style du bouton "Add Annonce" lorsqu'il est activé */
.addbtn:not([disabled]):hover {
  background: #0099cc; /* Couleur de fond au survol du bouton */
}
